$mobile_small: 360px;
$mobile_big: 600px;

$tablet_small: 800px;
$tablet_big: 1100px;

$desktop_small: 1400px;

$max_width_wrapper: 1600px;
$max_width_content_big: 1200px;
$max_width_content_small: 1120px;

$color_main: #458FF6;
$color_logo_text: #233348;
$color_header_nav_link: #1F1534;
$color_text: #7D7987;
$color_link: #4089ED;
