footer 
    .footer_columns
        .description 
            .description_title 
                .footer_logo_icon
                    svg(width='41' height='41' viewbox='0 0 41 41' fill='none' xmlns='http://www.w3.org/2000/svg')
                        circle(cx='20.5' cy='20.5' r='20.5')
                        path(d='M19.344 15.244H13.312V12.488H28.782V15.244H22.724V31H19.344V15.244Z')
                .footer_logo_text Trafalgar
            .description_content
                div Trafalgar provides progressive, and affordable healthcare, accessible on mobile and online for everyone
                div ©Trafalgar PTY LTD 2020. All rights reserved

        .navigation 
            .column
                .column_title Company
                .column_content 
                    a(href="#") About
                    a(href="#") Testimonials
                    a(href="#") Find a doctor
                    a(href="#") Apps

            .column 
                .column_title Region
                .column_content
                    a(href="#") Indonesia
                    a(href="#") Singapore
                    a(href="#") Hongkong
                    a(href="#") Canada

            .column 
                .column_title Help
                .column_content
                    a(href="#") Help center
                    a(href="#") Contuct support
                    a(href="#") Instructions
                    a(href="#") How it works
