section.offer_wrapper
    .offer
        .offer_content
            h1 Virtual Healthcare For You
            .offer_text Trafalgar provides progressive, and affordable healthcare, accessible on mobile and online for everyone
            .offer_button
                +button('Consult today', 'button_fill')
            
        .offer_img
            img(src="img/offer_image.png", alt="Virtual Healthcare For You")